
  
  <!-- Add your site or app content here -->
    <div class="full-container background-image-container white-text-container">
      <div class="container">
       
           <div class="cartel">
            <h1>Mountain</h1>
            <p>WELCOME TO ANGULAR SEARCH-DEBOUNCE WEBSITE. AGENCY IN BERLIN.</p>
            <br>
                
           </div>


          </div>
<a routerLink="/search"  title="">Discover</a>

    </div>